@using appProyectoFinal.Models
@model Usuario
@{
    ViewBag.Title = "Iniciar sesión";
}
@Html.ValidationSummary("", new { @class = "text-danger" })
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Usuarios", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label>Nombre de usuario:</label>
                        @Html.TextBoxFor(m => m.Nombre_Usuario, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Nombre_Usuario, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                   <label>Contraseña:</label>
                        @Html.PasswordFor(m => m.Contrasenna, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Contrasenna, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Iniciar sesión" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}